#hotline-js {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: red;
    width: 268px;
}
#hotline-js .state {
    margin: 5px;
    cursor: pointer;
}
#hotline-js img {
    margin-right: 5px;
    vertical-align:middle;
}
#hotline-js .chat {
    display: none;
}