body.colored {
    background-color: black;
}
.state {
    cursor: pointer;
    color: white;
    border-radius: 3px 0 0 0;
    margin-left: 5px;
    margin-top: 3px;
}
.state-img {
    height: 16px;
    width: 16px;
    display: inline-block;
    background-size: 16px 16px;
    margin-right: 5px;
    vertical-align: middle;
}
.state-img.online {
    background-image: url('online.png');
}
.state-img.offline {
    background-image: url('offline.png');
}