html
    head
        link(rel="stylesheet", type="text/css", href="/#{theme}/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/#{theme}/test.css")
    body
        #hotline-js
            block hotline-js
        script(src="//code.jquery.com/jquery-1.11.0.min.js")
        script(type="text/javascript", src="/bootstrap.min.js")