extends base
block append hotline-js
    .state
        img(src="/#{theme}/offline.png", width="16")
        strong Absent
        span  -&nbsp;
        em Chater avec un commercial
        a(href="http://www.google.fr") Google