extends large-frame
block append javascripts
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/chat.js")
block append content
    #chat-container
        #chat-items(style="height:#{chatHeight}px")
            ul
        form#chat-form.form-box
            .input-group
                input.form-control.answer-text(type="text", placeholder="Ask a question ?")
                span.input-group-btn
                    button.btn.btn-default.answer-button(type="submit") Send
    </div>
    #pseudo-form(style="display: none;")
        form
            .form-group
                input.form-control(type="text")
            button.btn.btn-default Submit