extends layout
block append javascripts
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/chat.js")
block append hotline-js
    #chat-container
        #chat-items
            div
                span Pseudo
                span#current-pseudo Pseudo
            ul
        form#chat-form.form-inline
            .form-group
                textarea.form-control(placeholder="Ask a question ?")
            button.btn.btn-default Send
            .btn-group.dropup
                span.glyphicon.glyphicon-screenshot.dropdown-toggle#settings(data-toggle="dropdown")
                ul.dropdown-menu(aria-labelledby="settings")
                    li
                        a#pseudo-link(href="#pseudo") Pseudo
    #pseudo-form(style="display: none;")
        form
            .form-group
                input.form-control(type="text")
            button.btn.btn-default Submit
