extends large-frame
block append javascripts
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/chat.js")
block append content
    #chat-container
        #chat-items
            ul
        form#chat-form.form-box
            .input-group
                textarea.form-control.answer-text(rows="2", placeholder="Ask a question ?")
                .input-group-btn
                    button.btn.btn-default.answer-button Send
    #pseudo-form(style="display: none;")
        form
            .form-group
                input.form-control(type="text")
            button.btn.btn-default Submit
block append javascripts
    script.
        $('#chat-items').slimScroll({height:#{scrollHeight} - $('#chat-form').outerHeight(true) - parseInt($('#chat-form').css('marginTop')) });