extends layout
block append hotline-js
    .state
        if online
            span.state-img.online
            strong Online
            span  -&nbsp;
            a Click to chat with an operator
        else
            span.state-img.offline
            strong Unavailable
            span  -&nbsp;
            a Click to send a message
