html{
  height: 100%;
}
body {
    min-height: 100%;
    background-image: url(../images/phone.png);
    background-repeat:no-repeat;
    background-position: center center;
    background-color: #fcfcfc;
}
.window {
    height: 300px;
    width: 430px;
    z-index: 0;
}
.window.selected {
    z-index: 10;
}
.window .tools .glyphicon {
    color: rgb(51, 51, 51);
}
.window .form-box {
    position: absolute;
    bottom: 10px;
    padding: 0 15px 10px 15px;
}
.window .answer-text {
    resize: none;
}
.window .answer-button {
    height: 54px;
}
.window .panel-body {
    overflow-y: scroll;
    height: 150px;
    padding: 0;
    margin: 15px;
}
.window .panel-body ul {
    list-style-type: none;
    padding: 0;
}
.window .panel-body ul li.operator {
    color: grey;
}
.window .panel-body ul span {
    font-weight: bold;
    padding-right: 5px;
}
.ui-icon, .ui-widget-content .ui-icon {
    background-image: url(../images/ui-icons_222222_256x240.png);
}
.ui-icon-gripsmall-diagonal-se {
    background-position: -64px -224px;
}
.offline-state .glyphicon {
    color: red;
}
.online-state .glyphicon {
    color: green;
}
#user-tabs {
    width: 85%;
}
#user-tabs ul li {
    list-style-type: none;
    display: inline-block;
    width: 10%;
    color: white;
    background: #444;
    background: -webkit-linear-gradient( #555, #2C2C2C);
    background: -moz-linear-gradient( #555, #2C2C2C);
    background: -ms-linear-gradient( #555, #2C2C2C);
    background: -o-linear-gradient( #555, #2C2C2C);
    background: linear-gradient( #555, #2C2C2C);
    padding: 2px;
    text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
    border: 1px solid grey;
}
#user-tabs ul li.selected {
    color: #000;
    background: #444;
    background: -webkit-linear-gradient( #555, #2C2C2C);
    background:    -moz-linear-gradient( #555, #2C2C2C);
    background:     -ms-linear-gradient( #555, #2C2C2C);
    background:      -o-linear-gradient( #555, #2C2C2C);
    background:         linear-gradient( #555, #2C2C2C);
    box-shadow: 1px 1px 10px black inset, 0 1px 0 rgba( 255, 255, 255, 0.4);
}
#user-tabs ul li.unread {
    font-weight: bold;
}
#login-box {
    margin-top: 90px;
}