extends ../base
block append stylesheets
    link(rel="stylesheet", type="text/css", href="/stylesheets/jquery-ui-1.10.4.custom.min.css")
    link(rel="stylesheet", type="text/css", href="/stylesheets/desktop.css")
block append body
    block content
